<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ytzl.itrip.dao.mapper.ItripTradeEndsMapper">

    <select id="getById" resultType="ItripTradeEnds">
        select
                id as id,         <!--订单ID-->
                orderNo as orderNo,         <!--订单编号(注意非支付宝交易编号tradeNo)-->
                flag as flag          <!--标识字段(默认0：未处理；1：处理中)-->
        from itrip_trade_ends
        <trim prefix="where" prefixOverrides="and | or">
            <if test="id != null">
                and id=#{id}
            </if>
        </trim>
    </select>

    <select id="getListByMap" resultType="ItripTradeEnds"
            parameterType="java.util.Map">
            select
                id as id,      <!--订单ID-->
                orderNo as orderNo,      <!--订单编号(注意非支付宝交易编号tradeNo)-->
                flag as flag       <!--标识字段(默认0：未处理；1：处理中)-->
            from itrip_trade_ends
        <trim prefix="where" prefixOverrides="and | or">
                <if test="id != null and id!=''">
                    and id=#{id}
                </if>
                <if test="orderNo != null and orderNo!=''">
                    and orderNo=#{orderNo}
                </if>
                <if test="flag != null and flag!=''">
                    and flag=#{flag}
                </if>
        </trim>
        order by creationDate desc
        <if test="beginPos != null and beginPos!='' and pageSize != null  and pageSize !='' ">
            limit #{beginPos},#{pageSize}
        </if>
    </select>

    <select id="getCountByMap" resultType="Integer" parameterType="java.util.Map">
        select count(1) from itrip_trade_ends
        <trim prefix="where" prefixOverrides="and | or">
                    <if test="id != null and id!=''">
                        and id=#{id}
                    </if>
                    <if test="orderNo != null and orderNo!=''">
                        and orderNo=#{orderNo}
                    </if>
                    <if test="flag != null and flag!=''">
                        and flag=#{flag}
                    </if>
        </trim>
    </select>

    <insert id="save" parameterType="com.ytzl.itrip.beans.model.ItripHotelOrder" useGeneratedKeys="true" keyProperty="id" >
        insert into itrip_hotel_order(
        userId ,      <!--用户id-->
        orderType ,      <!--订单类型(0:旅游产品 1:酒店产品 2：机票产品)-->
        orderNo ,      <!--订单号-->
        tradeNo ,      <!--交易编号-->
        hotelId ,      <!--冗余字段 酒店id-->
        hotelName ,      <!--冗余字段 酒店名称-->
        roomId ,      <!--房间id-->
        count ,      <!--消耗数量-->
        bookingDays ,      <!--预订天数-->
        checkInDate ,      <!--入住时间-->
        checkOutDate ,      <!--退房时间-->
        orderStatus ,      <!--订单状态（0：待支付 1:已取消 2:支付成功 3:已消费 4：已点评）-->
        payAmount ,      <!--支付金额-->
        payType ,      <!--支付方式:1:支付宝 2:微信 3:到店付-->
        noticePhone ,      <!--联系手机号-->
        noticeEmail ,      <!--联系邮箱-->
        specialRequirement ,      <!--特殊需求-->
        isNeedInvoice ,      <!--是否需要发票（0：不需要 1：需要）-->
        invoiceType ,      <!--发票类型（0：个人 1：公司）-->
        invoiceHead ,      <!--发票抬头-->
        linkUserName ,      <!--入住人名称-->
        bookType ,      <!--0:WEB端 1:手机端 2:其他客户端-->
        creationDate ,      <!--预定时间-->
        createdBy ,      <!---->
        modifyDate ,      <!--支付完成时间-->
        modifiedBy       <!---->
        )
        values(
        #{userId} ,      <!--用户id-->
        #{orderType} ,      <!--订单类型(0:旅游产品 1:酒店产品 2：机票产品)-->
        #{orderNo} ,      <!--订单号-->
        #{tradeNo} ,      <!--交易编号-->
        #{hotelId} ,      <!--冗余字段 酒店id-->
        #{hotelName} ,      <!--冗余字段 酒店名称-->
        #{roomId} ,      <!--房间id-->
        #{count} ,      <!--消耗数量-->
        #{bookingDays} ,      <!--预订天数-->
        #{checkInDate} ,      <!--入住时间-->
        #{checkOutDate} ,      <!--退房时间-->
        #{orderStatus} ,      <!--订单状态（0：待支付 1:已取消 2:支付成功 3:已消费 4：已点评）-->
        #{payAmount} ,      <!--支付金额-->
        #{payType} ,      <!--支付方式:1:支付宝 2:微信 3:到店付-->
        #{noticePhone} ,      <!--联系手机号-->
        #{noticeEmail} ,      <!--联系邮箱-->
        #{specialRequirement} ,      <!--特殊需求-->
        #{isNeedInvoice} ,      <!--是否需要发票（0：不需要 1：需要）-->
        #{invoiceType} ,      <!--发票类型（0：个人 1：公司）-->
        #{invoiceHead} ,      <!--发票抬头-->
        #{linkUserName} ,      <!--入住人名称-->
        #{bookType} ,      <!--0:WEB端 1:手机端 2:其他客户端-->
        #{creationDate} ,      <!--预定时间-->
        #{createdBy} ,      <!---->
        #{modifyDate} ,      <!--支付完成时间-->
        #{modifiedBy}       <!---->
        )
    </insert>

    <update id="modify" parameterType="ItripTradeEnds">
        update itrip_trade_ends
        <trim prefix="set" suffixOverrides="," suffix="where id= #{id}">
                <if test="id != null and id!=''">
                     id=#{id},
                </if>
                <if test="orderNo != null and orderNo!=''">
                     orderNo=#{orderNo},
                </if>
                <if test="flag != null and flag!=''">
                     flag=#{flag},
                </if>
        </trim>
    </update>

    <delete id="removeById" parameterType="Long">
        delete from itrip_trade_ends where id = #{id}
    </delete>
</mapper>